body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/141/791/original/pizza-pattern-vector.jpg);
  font-family: 'Slabo 27px', serif;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  color: #e24972;
  font-weight: bold;
  font-family: 'Baloo', cursive;
}

p {
  font-family: 'Alex Brush', cursive;
  font-size: 140%;
}

h1 {
  font-size: 140px;
  font-weight: bold;
  color: #e24972;
  text-shadow: 4px 4px #a8465b;
  font-family: 'Alex Brush', cursive;
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
}

.btn {
  margin-top: 5%;
  background-color: #e24972;
  color: white;
  font-family: 'Alex Brush', cursive;
  font-size: 140%;

}

ul {
  list-style: none;
  text-align: left;
}

.button-area {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 7px;
  float: right;
}

.size {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.delivery {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -12%;
  margin-bottom: 3%;
}

.toppings {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.order {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: -12%;
  margin-left: 3%;
  margin-right: 5%;
}

.princess {
  max-width: 230px;
  max-height: auto;
}

.peach {
  max-width: 200px;
  max-height: auto;
}

.motorcycle {
  max-width: 250px;
  max-height: auto;
  padding-bottom: 3%;
}

.center-image {
  text-align: center;
}

.bump-down {
  padding-top: 13%;
}

input:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}

label:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}

button:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}
