body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/141/791/original/pizza-pattern-vector.jpg);
  font-family: 'Slabo 27px', serif;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  color: #e24972;
  font-weight: bold;
  font-family: 'Baloo', cursive;
}

p {
  font-family: 'Alex Brush', cursive;
  font-size: 170%;
}

.pageTitle {
  background-color: #f9e2c3;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
}

h1 {
  font-size: 140px;
  font-weight: bold;
  color: #e24972;
  text-shadow: 4px 4px #a8465b;
  font-family: 'Alex Brush', cursive;

}

.icon-bar a {
  float: right;
  width: 50px;
  color: #e24972;
  font-size: 2em;
  text-align: center;
}

.btn {
  margin-top: 5%;
  background-color: #e24972;
  color: #f9e2c3;
  font-family: 'Alex Brush', cursive;
  font-size: 140%;

}

ul {
  list-style: none;
  text-align: left;
}

.checkout {
  background-color: #f9e2c3;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 7px;
  float: right;
}

.size {
  background-color: #f9e2c3;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.delivery {
  background-color: #f9e2c3;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -12%;
  margin-bottom: 3%;
}

.toppings {
  background-color: #f9e2c3;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.order {
  background-color: #f9e2c3;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
  margin-top: -12%;
  margin-left: 3%;
  margin-right: 5%;
}

.princess {
  max-width: 230px;
  max-height: auto;
}

.peach {
  max-width: 200px;
  max-height: auto;
}

.motorcycle {
  max-width: 250px;
  max-height: auto;
  padding-bottom: 3%;
}

.center-image {
  text-align: center;
}

/*moves paragraph from Toad down and to the right*/
.toad {
  padding-top: 13%;
  margin-left: 10%;
}

label{
  color: #a8465b;
  font-family: 'Baloo', cursive;
}

/*for cursor*/
input:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}

label:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}

button:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}

a:hover {cursor: url(http://cur.cursors-4u.net/others/oth-3/oth277.cur), progress !important;}

/*media query for mobile*/
@media screen and (max-width: 780px) {

  h1 {
    font-size: 90px;
    font-weight: bold;
    color: #e24972;
    text-shadow: 2px 2px #a8465b;
    font-family: 'Alex Brush', cursive;
    text-align: center;
  }

  .icon-bar a {
    float: none;
  }

  a {
    padding-left: 20px;
    padding-right: 20px;
  }
  .icon-bar {
    text-align: center;
  }

  .checkout {
    background-color: #f9e2c3;
    border-style: solid;
    border-width: medium;
    border-color: #e24972;
    text-align: center;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: -2%;
    padding-bottom: 7px;
  }

  .btn{
    text-align: center;
  }

  .size {
    background-color: #f9e2c3;
    border-style: solid;
    border-width: medium;
    border-color: #e24972;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .delivery {
    background-color: #f9e2c3;
    border-style: solid;
    border-width: medium;
    border-color: #e24972;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    text-align: center;
  }

  .toppings {
    background-color: #f9e2c3;
    border-style: solid;
    border-width: medium;
    border-color: #e24972;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .order {
    background-color: #f9e2c3;
    border-style: solid;
    border-width: medium;
    border-color: #e24972;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 5%;
  }

}
