body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/141/791/original/pizza-pattern-vector.jpg);
}

h3 {
  text-align: center;
  color: #e24972;
  font-weight: bold;
  font-family: 'Baloo', cursive;
}

p {
  font-family: 'Alex Brush', cursive;
  font-size: 140%;
}

h1 {
  font-size: 140px;
  font-weight: bold;
  color: #e24972;
  text-shadow: 4px 4px #a8465b;
  font-family: 'Alex Brush', cursive;
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
}

.btn {
  margin-top: 5%;
  background-color: #e24972;
  color: white;
  font-family: 'Alex Brush', cursive;
  font-size: 140%;

}

ul {
  list-style: none;
  text-align: left;
}

.button-area {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  text-align: center;
  border-radius: 5px;
}

.size {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
}

.toppings {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #e24972;
  border-radius: 5px;
}

.princess {
  max-width: 230px;
  max-height: auto;
}

.peach {
  max-width: 200px;
  max-height: auto;
}
